<!-- Add header to page -->
<%- include('../partials/header') %>


<main class="container py-5 text-center">
  <h1 class="display-4">404 – Page Not Found</h1>
  <p class="lead">Oops! The page you're looking for doesn't exist.</p>
  <a href="/" class="btn btn-outline-primary mt-4">Return Home</a>
</main>


<!-- Add footer to page -->
<%- include('../partials/footer') %>
