<!-- Add header to page -->
<%- include('../partials/header') %>


<main class="container py-5 text-center">
  <h1 class="display-4 mb-3">Thank you, <%= name %>!</h1>
  <p class="lead">We've received your message and will get back to you soon.</p>
  <a href="/" class="btn btn-outline-primary mt-4">Return Home</a>
</main>


<!-- Add footer to page -->
<%- include('../partials/footer') %>
